.section-about {
  padding: 25rem 0;
  background-color: $color-grey-light-1;
  margin-top: -20vh; // 95 - 75
}

.section-features {
  padding: 20rem 0; // it's trendy now to have lot of white spaces. 0 left and right.
  /* Background image with gradient */
  background-image: linear-gradient(
                      to right bottom, 
                      rgba($color-primary-light, 0.8), 
                      rgba($color-primary-dark, 0.8)), 
                    url(../images/bg-features.jpg);
  background-size: cover;
  // Skewing
  transform: skewY(-7deg); // Skew the entire section. Skew back children. <- Alternative to clip path
  margin-top: -10rem;

  & > * { // direct child
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: $color-grey-light-1;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0; // top and bottom
  position: relative; // because child is absolute
}
